# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Dependências do Node.js
node_modules/
npm-debug.log*
yarn-error.log

# Ambientes Virtuais do Python
venv/
.venv/
ENV/
env/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de log
*.log